@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,300,600,700);
body{background: #646464}
#wrapper {
    padding-left: 250px;
    transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
    margin-left: -250px;
    left: 250px;
    width: 250px;
    background: #262626;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
}

#wrapper.active { padding-left: 0; }
#wrapper.active #sidebar-wrapper { left: 0; }
#page-content-wrapper { width: 100%; }

.user-image {
    margin: 25px auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    max-height: 130px;
    max-width: 130px;
    border: 5px solid #545454;
    -moz-box-shadow:inset 0px 0px 6px 6px rgba(255,255,255,1);
    -webkit-box-shadow:inset 0px 0px 6px 6px rgba(255,255,255,1);
}

.user-image:hover { border: 0px solid #FFFFFF;}

.sidebar-nav {
    top: 10;
    width: 250px;
    height: auto;
    list-style: none;
    /*margin: 10px;*/
    padding: auto;
    font-size: 1.28em;
}
.sidebar-nav li {
   line-height: 40px;
   background: transparent;
   margin:0;
}
.sidebar-nav li a {
    color: #DEDEDE;
    font-family: 'Raleway', sans-serif, Arial, Verdana;
}

.sidebar-nav li a:hover {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif, Arial, Verdana;
}


.sidebar-nav li a:hover, .sidebar-nav li.active,
.sidebar-nav li a:active, .sidebar-nav li a:focus {
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.3);
    text-decoration: none;
    -webkit-transition: width .5s ease-in;
    -moz-transition: width .5s ease-in;
    -ms-transition: width .5s ease-in;
    transition: width .5s ease-in;
}

.sidebar-nav li a i:before { margin-right: 5px; }
.content-header { height: 65px; line-height: 65px; }

.content-header h1 {
    margin: 0;
    margin-left: 20px;
    line-height: 65px;
    display: inline-block;
    font-family: 'Raleway', sans-serif, Arial, Verdana;
    font-size: 2.3em;
    /*font-family: 'Rock Salt', cursive;*/
}
#menu-toggle { text-decoration: none; font-size: 0.6em}

.btn-menu {
    color: #FFF;
    padding: 0px 10px;
    vertical-align: bottom;
}
.inset { padding: 20px; }

.centered {
    width: 250px;
    margin-left: auto!important;
    margin-right: auto!important;
    text-align: center!important;
}

.iconBrand i {
    padding: 6px;
    font-size: 24px;
    margin-bottom: 24px;
}

.iconBrand i:hover {
    font-size: 26px;
    margin-bottom: 20px;
    padding: 5px;
    cursor: pointer;
/*    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;*/
    color: #FFF;
}

.transicao {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


/*MEDIA RESOLUCOES*/
@media (max-width:767px) {
    #wrapper {
        padding-left: 0;
    }
    #sidebar-wrapper {
        left: 0;
    }
    #wrapper.active {
        position: relative;
        left: 250px;
    }
    #wrapper.active #sidebar-wrapper {
        left: 250px;
        width: 250px;
        transition: all 0.4s ease 0s;
    }
    #menu-toggle {
        display: inline-block;
    }
    .inset {
        padding: 15px;
    }
}
